
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

@import "compass";
@import "compass/reset";
@import "compass/utilities";

.clearfix{
  @include pie-clearfix;
}
$color1: #F2EEE8;
$color2: #FFFBF5;
$a_color: #1b95e0;
$a_hover_color: #2B7BB9;
$nav_a: #33475f;
$border_color: #e1e8ed;
$bg_color: #367fa9;
$D2: #D2D2D2;
$E8: #E8E8E8;
$info_bg: #80A8CC;

$font-family: 'Arial','Microsoft YaHei';

html{
  height: 100%;
}
body {
  height: 100%;
  background: image-url("bg.png");
  font: 14px/1.5 $font-family;
  min-width: 600px;
  overflow-y: hidden;
  position: relative;
}
.fullScreenBody{
  height: 100%;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: $info_bg;
  &:hover, &:active {
    color: $a_hover_color;
  }
}
b{
  font-weight: bold;
}
i{
  font-style: italic;
}
textarea{
  word-break: keep-all;
  word-wrap: break-word;
}

.main{
  width: 1245px;
  margin: 0px auto 0;
  height: 100%;
}
.content{
  width: 620px;
  float: left;
  height: 100%;
  &:nth-child(1){
    margin-right: 5px;
  }
  .contentHead{
    line-height: 26px;
    margin: 4px 260px;
    font-size: 18px;
    text-align: center;
    background: $bg_color;
    color: white;
    border-radius: 10px;
  }
}
.contentBox{
  height: calc(100% - 34px);
  overflow-y: scroll;
  position: relative;
}
.contentHot{
  height: calc(100% - 34px);
  overflow-y: scroll;
}

.msgPhotoShow{
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out 300ms;
  div{
    width: 107px;
    height: 108px;
    margin: 4px;
    float: left;
    line-height: 100px;
    font-size: 0;
    text-align: center;
    background: #ccd6dd;
    position: relative;
    overflow: hidden;
    img{
      vertical-align: middle;
    }
    span{
      display: none;
      position: absolute;
      cursor: pointer;
      top: 2px;
      right: 2px;
      width: 20px;
      height: 20px;
      background: image_url("icon/delete.png") no-repeat center;
      &:hover{
        background: image_url("icon/delete_hover.png") no-repeat center;
      }
    }
    &:hover{
      span{
        display: block;
      }
    }
  }
}


/*msg list*/
.msgListContentBox{
  border: 1px solid darken($border_color, 5%);
  padding: 20px 15px 0px 75px;
  width: 600px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  .msgOperate{
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: $a_color;
    color: white;
    border-radius: 6px;
    &:hover{
      background: $a_hover_color;
    }
  }
  .msgListContent{
    padding: 4px;
    .msgListUserHead{
      width: 50px;
      height: 50px;
      border-radius: 10px;
      float: left;
      margin-left: -60px;
    }
    .msgListUserName{
      font-weight: bold;
      margin-right: 10px;
    }
    .msgListTime{
      color: $nav_a;
      &:hover{
        color: $a_hover_color;
      }
    }
    .msgListBody{
      transition: height 300ms ease-in-out 300ms;
      margin: 5px 0;
      line-height: 23px;
      img{
        max-width: 100%;
      }
      .emoji{
        width: 22px;
        height: 22px;
        vertical-align: middle;
      }
      h2{
        margin: 20px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
      }
      p{
        margin: 15px 0;
      }
      a.pull{
        display: block;
        text-align: right;
      }
      .msgPull{
          position: fixed;
          bottom: 40px;
          background: $a_hover_color;
          padding: 5px 10px;
          color: #fff;
          border-radius: 5px;
      }
    }
    .msgListBodyDemo{
      margin-top: 10px;
      h2{
        font-size: 18px;
        text-align: center;
        color: $nav_a;
        font-weight: bold;
      }
      div{
        float: left;
        width: 120px;
        height: 120px;
        margin:0 10px 10px 0;
        overflow: hidden;
      }
    }
    .msgSpread{
      a{
        text-align: center;
        display: block;
        width: 66px;
        height: 30px;
        line-height: 30px;
        background: $a_hover_color;
        color: #fff;
        border-radius: 5px;
        margin: 10px auto;
        box-shadow: 1px 1px 2px $a_hover_color;
      }
    }
    .msgReply{
      background: darken(#F7F7F7, 3%);
      padding: 5px 10px;
      color: #999;
      margin: 0 -4px;
      a{
        color: $nav_a;
        &:hover{
          color: $a_hover_color;
        }
      }
    }
    .li_1_w{
      width: 332px;
      img{
        width: 100%;
      }
    }
    .li_1_h{
      height: 332px;
      img{
        height: 100%;
      }
    }
    [class^="li_2"],.li_5_1,.li_5_2{
      width: 248px;
      height: 248px;
      line-height: 248px;
    }
    [class^="li_4"],[class^="li_7"],[class^="li_8"]{
      width: 123px;
      height: 123px;
      line-height: 123px;
    }
    [class^="li_3"],.li_5_4,.li_5_5,[class^="li_6"],.li_7_2,.li_7_3,[class^="li_9"]{
      width: 165px;
      height: 165px;
      line-height: 165px;
    }
    .li_3_1,.li_5_3,.li_6_4,.li_9_1,.li_9_4,.li_9_7{
      width: 164px;
      height: 164px;
      line-height: 164px;
    }
    .li_4_1,.li_8_1{
      width: 373px;
      height: 373px;
      line-height: 373px;
    }
    .li_6_1,.li_7_1{
      width: 331px;
      height: 331px;
      line-height: 331px;
    }
    [class^="li_"]{
      float: left;
      font-size: 0;
      margin: 2px 0 0 2px;
      overflow: hidden;
      background-color: lighten(#ccd6dd,10%);
      cursor: image_url("icon/big.cur"), auto;
      text-align: center;
      vertical-align: middle;
      img{
        vertical-align: middle;
      }
    }
    .big_photo_show{
      text-align: center;
      cursor: image-url("icon/small.cur"), auto;
      background: #f2f2f5;
      font-size: 0;
      margin: 10px 0;
    }
    .msgListPhotoShow{
      margin: 0 -2px;
    }
    .li_small{
      width: 52px;
      height: 52px;
      margin: 0;
      border: 2px solid transparent;
      cursor: pointer;
      line-height: 52px;
      font-size: 0;
      vertical-align: middle;
      img{
        vertical-align: middle;
      }
      &:hover,&.selected{
        border-color: $a_color;
      }
    }
  }
}
.msgListContent{
  .msgLike{
    i{
      background: image_url("icon/like.png") no-repeat center;
    }
    &:hover{
      i{
        background: image_url("icon/like_hover.png") no-repeat center;
      }
      span{
        color: red;
      }
    }
  }
  .msgComment{
    position: relative;
    i{
      background: image_url("icon/comment.png") no-repeat center;
    }
    &:hover{
      i{
        background: image_url("icon/comment_hover.png") no-repeat center;
      }
    }
    b{
      display: none;
      position: absolute;
      border-bottom: 10px solid darken(#F7F7F7, 5%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: -6px;
      left: 25%;
    }
  }
  .msgListFooter{
    li{
      float: right;
      cursor: pointer;
      margin: 5px 0 0 10px;
      color: $nav_a;
      line-height: 20px;
      i{
        display: inline-block;
        text-indent: -999em;
        width: 20px;
        height: 20px;
      }
      &:hover{
        color: $a_hover_color;
      }
    }
  }
}
.commentTotal{
  margin-left:-60px;
  &>.commentBox{
    padding-left: 65px;
    padding-top: 10px;
    img{
      width: 32px;
      float: left;
      margin-left: -50px;
      border-radius: 5px;
    }
  }
}
.commentBox{
  width: 100%;
  background: darken(#F7F7F7, 3%);
  border-radius: 0;
  padding: 5px;
  .msgTxt{
    padding: 5px 5px 0 5px;
    height: 30px;
    min-height: 30px;
    margin-bottom: 0;
  }
  .msgAdd{
    li.msgEmoji{
      margin: 5px 0 0 5px;
    }
  }
  .msgSend{
    input{
      padding: 3px 10px;
    }
    strong{
      font-size:14px;
    }
  }
}
.commentList{
  background-color: darken(#F7F7F7, 3%);
  margin-bottom: 10px;
  padding:0 0 20px 60px;
  font-size: 13px;
  &>li{
    padding: 5px;
    margin-bottom: -1px;
    border-top: 1px solid darken(#F7F7F7, 15%);
    border-bottom: 1px solid darken(#F7F7F7, 15%);
  }
  .commentMsg,.commentFooter{
    margin-left: 30px;
    img{
      width: 32px;
      float: left;
      margin-left: -40px;
      border-radius: 5px;
    }
  }
  .commentFooter{
    color: #999;
    a{
      float: right;
      margin-right: 10px;
    }
  }
}
.msgEmpty{
  background: #fff;
  border: 1px solid darken($border_color, 5%);
  padding: 30px 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: $nav_a;
}

@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  12.5%{
    transform: rotate(45deg);
  }
  25%{
    transform: rotate(90deg);
  }
  37.5%{
    transform: rotate(135deg);
  }
  50%{
    transform: rotate(180deg);
  }
  62.5%{
    transform: rotate(225deg);
  }
  75%{
    transform: rotate(270deg);
  }
  87.5%{
    transform: rotate(315deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.msgLoad{
  background: #fff;
  border: 1px solid darken($border_color, 5%);
  margin: 10px 0;
  text-align: center;
  color: $nav_a;
  vertical-align: middle;
  line-height: 31px;
  img{
    vertical-align: middle;
    margin-right: 5px;
    animation: load 1s linear infinite;
  }
}
.imgLoad{
  position: fixed;
  background: rgba(#fff, 0.8);
  height: 20px;
  width: 20px;
  border-radius: 2px;
  z-index: 9999;
  img{
    animation: load 1s linear infinite;
  }
}